
.btn-default{
    background-color:#ffb37e;

}
.btn-default:hover{
    background-color:#ff7a1b;
   
}

#areaForm{
    margin-top:15px;

}

#confirm{

    font-family:Arial;    
    font-size:14px;
    color:black;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:500px;
    text-align:center;
    margin-top:100px;
}

#confirm img{
    width:300px;    
    margin-left:auto;
    margin-right:auto;
    display:block;

}

label{
	
	background-color:white;
}

#but{
	border-color:black;
	
}

